*{
    box-sizing: border-box;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
  }
  
  /* .header {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  } */
  
  /* .header h1 {
    margin: 0;
  } */
  
  .product-nav{
    display:flex;
    margin: 10px;

padding: 10px;
    justify-content:space-between;
    /* height: 40px; */
  }
 
  .product-nav button{
    background-color: #e46b6bc7;
    color: #333;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  .product-nav button:hover {
    background-color: #e42929;
  }

  .content {
    padding: 20px 0;
  }
  
  .products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 20px;
  }
  
  .product-card {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    border-radius: 5px;
  }
  
  .product-card h3 {
    margin-top: 10px;
  }
  
  .product-card p {
    font-weight: bold;
    margin: 10px 0;
  }
  
  .product-card button {
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .product-card button:hover {
    background-color: #555;
  }